@import "tailwindcss";

@theme {
  --color-background: #1e1e1e;
  --color-surface: #2b2b2b;
  --color-primary: #3b82f6;
  --color-text-primary: #ffffff;
  --color-text-secondary: #a1a1aa;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: Inter, system-ui, sans-serif;
}